<ul>
    <li><label><input type="checkbox" name="Category" value="1"> Category 1</label></li>
    <li><label><input type="checkbox" name="Category" value="3"> Category 2</label></li>
    <li><label><input type="checkbox" name="Category" value="2"> Category 3</label></li>
    <li><label><input type="checkbox" name="Category" value="4"> Category 4</label></li>
    <li><label><input type="checkbox" name="Category" value="5"> Category 5</label></li>
    <li><label><input type="checkbox" name="Category" value="6"> Category 6</label></li>
</ul>