<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-reset.css" />
    <link rel="stylesheet" href="/static/error.css" />

    <title>Bad Request</title>
</head>

<body>
    <div>
        <h1>Bad Request</h1>
        <p>Something went wrong</p>
        <p>if you are looking for Groupie Tracker <a href="/">click here</a></p>
        <p>Server Message is: {{.Msg}}</p>
    
    </div>
</body>

</html>